.ng-valid[required], .ng-valid.required {
      border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
      border-left: 5px solid #a94442;
}

.alert-danger {
      position: relative;
      top: 0px;
      background-color: #f2dede;
      border-color: #ebcccc;
      color: #a94442;
      width: auto;
      margin-top: -19px;
}