.chart-1-wrapper {
      padding: 20px 25px;
}

.chart-1 {
      width: 100%;
      min-height: 295px;
}

.mini-chart-1 {
      float: left;
      vertical-align: top;
      position: relative;
      top: -10px;
      margin-right: 10px;
}