
      <div class="date-range-bar text-uppercase">
            <div class="row">
                  <div class="col-md-8">
                        Date Range From
                        <span class="date-thin">{{dateInputs.start | date}}</span> to
                        <span class="date-thin">{{dateInputs.end | date}}</span>
                  </div>
                  <div class="col-md-4">
                        <div class="custom-dropdown-1 pull-right">
                              <div class="col">
                                    <ul ngbDropdown class="d-inline-block" style="left:-100px;" class="list-inline">
                                          <li class="dropdown" ngbDropdownToggle>
                                                <a href="javascript:void(0)">
                                                      <span id="lan-text">Export
                                                            <i class="fa fa-angle-down"></i>
                                                      </span>

                                                </a>
                                          </li>
                                          <ul ngbDropdownMenu style="z-index: 44;right:100px;width:100%" class="dropdown-menu user-options-list">
                                                <li class="dropdown-item">

                                                      <a href="javascript:void(0)" (click)="download()">
                                                            <span> Raw Data set as XLX, CSV, EXCEL</span>
                                                      </a>
                                                </li>

                                          </ul>
                                    </ul>
                              </div>
                        </div>

                  </div>
            </div>
      </div>
      <div id="audienceData">
            <div class="chart-1-wrapper">
                  <div class="chart-filters">
                        <div class="row">
                              <div class="col-md-2">

                              </div>
                              <div class="col-md-6">
                                    <h5>Filter By</h5>
                                    <ul class="filter-list">
                                          <li>
                                                <input type="checkbox" [checked]="checkBoxFilter.visitsCheckBox" (change)="areaChart(checkBoxFilter.visitsCheckBox = $event.target.checked)"> visits</li>
                                          <li>
                                                <input type="checkbox" [checked]="checkBoxFilter.pageViewCheckBox" (change)="areaChart(checkBoxFilter.pageViewCheckBox = $event.target.checked)"> page views</li>
                                          <li>
                                                <input type="checkbox" [checked]="checkBoxFilter.uniquevisitsCheckBox" (change)="areaChart(checkBoxFilter.uniquevisitsCheckBox = $event.target.checked)"> unique visitors</li>
                                    </ul>
                              </div>
                              <div class="col-md-4">
                                    <div class="custom-dropdown-1 pull-right">
                                          <div class="form-group">
                                                <div class="input-group col-sm-offset-4" daterangepicker [options]="{startDate:dateInputs.start, endDate:dateInputs.end }"
                                                      (selected)="selectedDate($event, dateInputs)">
                                                      <span class="form-control uneditable-input" name="daterange">
                                                            {{ dateInputs.start | date:'M/dd/y' }} - {{ dateInputs.end| date:'M/dd/y' }}
                                                      </span>
                                                      <span class="input-group-btn">
                                                            <a type="button" class="btn btn-default">
                                                                  <i class="glyphicon glyphicon-calendar"></i>
                                                            </a>
                                                      </span>
                                                </div>
                                                <hr />
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="chart-1">
                              <div [chart]="chart"></div>
                        </div>
                  </div>
            </div>
            <div class="stats-wrapper">
                  <div class="row">
                        <div class="col-md-8">
                              <div class="box-wrapper">
                                    <div class="box">
                                          <div class="box-inner">
                                                <div class="p1">
                                                      <p>
                                                            <b>{{audience?.visits | number}}</b>
                                                      </p>
                                                </div>
                                                <div class="p2">
                                                      <p>
                                                            <b>PAGE VIEWS</b>
                                                      </p>
                                                </div>
                                                <div class="p3">
                                                      <img src="assets/images/small-graph.png" />
                                                </div>
                                          </div>
                                    </div>
                                    <div class="box">
                                          <div class="box-inner">
                                                <div class="p1">
                                                      <p>
                                                            <b>{{audience.uniqueVisitors | number}} </b>
                                                      </p>
                                                </div>
                                                <div class="p2">
                                                      <p>
                                                            <b> UNIQUE PAGE VIEWS</b>
                                                      </p>
                                                </div>
                                                <div class="p3">
                                                      <img src="assets/images/small-graph.png" />
                                                </div>
                                          </div>
                                    </div>
                                    <div class="box">
                                          <div class="box-inner">
                                                <div class="p1">
                                                      <p>
                                                            <b>{{audience?.avgTimeOnPage}}</b>
                                                      </p>
                                                </div>
                                                <div class="p2">
                                                      <p>
                                                            <b>Avg. time on page</b>
                                                      </p>
                                                </div>
                                                <div class="p3">
                                                      <img src="assets/images/small-graph.png" />
                                                </div>
                                          </div>
                                    </div>
                                    <div class="box">
                                          <div class="box-inner">
                                                <div class="p1">
                                                      <p>
                                                            <b>{{audience.bounceRate }}%</b>
                                                      </p>
                                                </div>
                                                <div class="p2">
                                                      <p>
                                                            <b>bounce rate</b>
                                                      </p>
                                                </div>
                                                <div class="p3">
                                                      <img src="assets/images/small-graph.png" />
                                                </div>
                                          </div>
                                    </div>
                                    <!-- <div class="box">
                                          <div class="box-inner">
                                                <div class="p1"><i class="fa fa-plus"></i></div>
                                                <div class="p2">ADD WIDGET</div>
                                          </div>
                                    </div> -->
                              </div>
                        </div>
                        <div class="col-md-4"></div>
                  </div>
            </div>
      </div>
