@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700');
body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: #8f8b87;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  text-transform: uppercase;
}
header {
  height: 71px;
  background: #101011;
}

.user-options-header .dropdown-menu {
  border-radius: 0;
  left: auto;
  right: 0;
  top: 28px;
}

.main-logo {
  margin-left: -9px;
}
.user-photo {
  margin-top: 16px;
  margin-right: 12px;
}
.user-options-header {
  margin-top: 27px;
  margin-right: 15px;
}
.user-options-header a {
  color: #827f7d;
  text-decoration: none !important;
}
.user-options-header .fa-angle-down {
  color: #fff;
}
.user-options-header .dropdown-menu {
  border-radius: 0;
  left: auto;
  right: 0;
  top: 28px;
}
nav.top-nav {
  height: 71px;
  background: #f78b3b;
  border-bottom: 1px solid #ff6a00;
}
nav.top-nav ul {
  margin: 0 -15px;
  padding: 0;
  display: block;
}
nav.top-nav ul li {
  float: left;
  list-style: none;
  display: block;
}
nav.top-nav ul li a {
  display: block;
  padding: 25px 27px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none !important;
  border-right: 2px solid #c56116;
}
nav.top-nav ul li:last-child a {
  border-right: none;
}
nav.top-nav ul li a:hover,
nav.top-nav ul li a.active,
nav.top-nav ul li.active a {
  background: rgba(255, 255, 255, 0.25);
}

main .container-fluid {
  min-height: inherit;
}
main .row {
  min-height: inherit;
  display: flex;
}
.main-left {
  width: 90px;
  background: #2f2e2e;
  min-height: inherit;
}
.main-right {
  flex: 1;
}
ul.l-menu {
  margin: 0;
  padding: 0;
  display: block;
}
ul.l-menu li {
  list-style: none;
  display: block;
  text-align: center;
  margin-bottom: 1px;
}
ul.l-menu li a {
  display: block;
  padding: 20px 2px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none !important;
}
ul.l-menu li a:hover,
ul.l-menu li a.active,
ul.l-menu li.active a {
  background: #ff6a00;
}
ul.l-menu li a img,
ul.l-menu li a span {
  display: block;
}
ul.l-menu li a img {
  margin: 0 auto 10px;
}
.box-wrapper {
  text-align: left;
  background: #fafafa;
  border: 1px solid #ece9e9;
  padding: 9px;
  max-width: 759px;
}
.date-range-bar {
  background: #ebebeb;
  padding: 15px 25px;
  font-weight: 700;
}

.date-thin {
  font-weight: 300;
  font-size: 25px;
  padding: 0 10px;
  color: #acacac;
}
.chart-1-wrapper {
  padding: 20px 25px;
}

.custom-dropdown-1 {
  font-size: 11px;
  margin-top: 11px;
}
.custom-dropdown-1 a {
  color: #8f8b87;
  font-weight: normal;
  text-decoration: none !important;
  position: relative;
  z-index: 2;
}
.custom-dropdown-1 .dropdown-menu {
  left: auto;
  right: -12px;
  border-radius: 0;
  padding-top: 30px;
  top: -11px;
  z-index: 1;
}
.custom-dropdown-1 .dropdown-menu > li > a {
  font-size: 11px;
}
.chart-filters {
  margin-bottom: 20px;
  margin-top: 20px;
}
.chart-filters h3 {
  font-size: 14px;
  color: #188ec5;
  font-weight: 700;
}
.chart-filters h5 {
  font-size: 11px;
  color: #000;
  text-decoration: underline;
  float: left;
  margin-right: 40px;
  margin-bottom: 0;
}
.filter-list {
  float: left;
  margin: -5px 0 0;
  padding: 0;
}
.filter-list li {
  list-style: none;
  float: left;
  margin-right: 30px;
  font-size: 11px;
  text-transform: uppercase;
}
.filter-list li input {
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.stats-wrapper {
  padding: 20px 40px;
}
.box-wrapper {
  text-align: left;
  background: #fafafa;
  border: 1px solid #ece9e9;
  padding: 9px;
  max-width: 759px;
}
.box {
  width: 180px;
  height: 180px;
  background: #e8e8e8;
  display: inline-block;
  vertical-align: top;
  margin: 2px 1px;
}
.box-inner {
  width: inherit;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.box-inner .p1 {
  font-size: 29px;
  font-weight: 300;
  margin-bottom: 10px;
}
.box-inner .p2 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.date-range-list li {
  padding: 5px 10px;
}
.date-range-list label,
.date-range-list input {
  float: left;
  max-width: 112px;
  margin: 0 5px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
}
.custom-dropdown-1 .date-range-list {
  width: 349px;
  padding-bottom: 10px;
}
.date-range-list button {
  background: none;
  border: none;
  padding: 0;
}
.ng-valid[required], .ng-valid.required{
    border-left: 5px solid #42A948; 
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; 
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    width: auto;
    margin-top: -15px;
}