<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="main-logo">
          <a>
            <img src="assets/images/logo.png">
          </a>
        </div>
      </div>
      <div class="col-md-6" *ngIf="securityService.userData.id">
        <div class="user-options-header pull-right">
          <ul class="list-inline">
            <li class="dropdown">
              <a>
                <span id="lan-text">Welcome {{securityService?.userData.firstName}} {{securityService?.userData.lastName}} !
                  <!-- <i class="fa fa-angle-down">  </i>-->
                </span>
              </a>|

              <!-- <a class="logout" href="javascript:void(0)">
                              <span>My Account</span>
                            </a>| -->

              <a class="logout" href="javascript:void(0)" (click)="logout();">
                <span id="lan-text">Logout</span>
              </a>

            </li>
          </ul>
        </div>
        <div class="user-photo pull-right">
          <img src="assets/images/user-photo.png" />
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="top-nav">
  <div class="container-fluid">
    <ul *ngIf="securityService.userData.id">
      <li>
        <a [routerLink]="['/dashboard/audience']" class="active">DASHBOARD</a>
      </li>
      <!-- <li><a href="#">HEAD-UP DISPLAY</a></li>
      <li><a href="#">VISUAL CASCADE</a></li> -->
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>