<div class="container-fluid">
  <div class="row">
    <div class="main-left">
      <ul class="l-menu">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/dashboard/audience']">
            <img src="assets/images/lmenu-icon1.png" />
            <span>Audience</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/dashboard/finance']">
            <img src="assets/images/lmenu-icon2.png" />
            <span>Financial</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/dashboard/performance']">
            <img src="assets/images/lmenu-icon3.png" />
            <span>Performance</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="main-right">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>