<div class="date-range-bar text-uppercase">
      <div class="row">
            <div class="col-md-8">
                  Date Range From
                  <span class="date-thin">{{dateInputs.start | date}}</span> to
                  <span class="date-thin">{{dateInputs.end | date}}</span>
            </div>
            <div class="col-md-4">
                  <div class="custom-dropdown-1 pull-right">
                        <div class="col">
                              <ul ngbDropdown class="d-inline-block" style="left:-100px;" class="list-inline">
                                    <li class="dropdown" ngbDropdownToggle>
                                          <a href="javascript:void(0)">
                                                <span id="lan-text">Export
                                                      <i class="fa fa-angle-down"></i>
                                                </span>

                                          </a>
                                    </li>
                                    <ul ngbDropdownMenu style="z-index: 44;right:100px;width:100%" class="dropdown-menu user-options-list">
                                          <li class="dropdown-item">

                                                <a href="javascript:void(0)" (click)="download()">
                                                      <span> Raw Data set as XLX, CSV, EXCEL</span>
                                                </a>
                                          </li>

                                    </ul>
                              </ul>
                        </div>
                        <!-- <ul class="list-inline">
                              <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">
                           <span id="lan-text">Export <i class="fa fa-angle-down"></i></span>
                       </a>
                                    <ul class="dropdown-menu user-options-list">
                                          <li>
                                                <a class="logout" href="javascript:void(0)">
                             <span>Raw Data set as XLX, CSV, EXCEL</span>
                           </a>
                                          </li>
                                          <li>
                                                <a class="logout" href="javascript:void(0)">
                             <span>Entire page W Chart as PDF</span>
                           </a>
                                          </li>
                                    </ul>
                              </li>
                        </ul> -->
                  </div>

            </div>
      </div>
</div>
<div id="performanceData">
      <div class="chart-2-wrapper">
            <div class="chart-filters" style="margin-bottom: 0">
                  <div class="row">
                        <div class="col-md-8">
                              <div class="pull-right">
                                    <h5 style="margin-right: 30px;margin-top:12px;">Filter By</h5>
                                    <ss-multiselect-dropdown [options]="myOptions" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="optionsModel" (ngModelChange)="performance()"></ss-multiselect-dropdown>
                              </div>
                        </div>
                        <div class="col-md-4">
                              <div class="form-group">
                                    <div class="input-group col-sm-offset-4" daterangepicker [options]="{startDate:dateInputs.start, endDate:dateInputs.end }"
                                          (selected)="selectedDate($event, dateInputs)">
                                          <span class="form-control uneditable-input" name="daterange">
                                                {{ dateInputs.start | date:'M/dd/y' }} - {{ dateInputs.end| date:'M/dd/y' }}
                                          </span>
                                          <span class="input-group-btn">
                                                <a type="button" class="btn btn-default">
                                                      <i class="glyphicon glyphicon-calendar"></i>
                                                </a>
                                          </span>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-12">
                              <h4 style="margin-right: 15px; margin-bottom: 10px;">View line chart by</h4>
                              <ul class="filter-list filter-list-2">
                                    <li>
                                          <input type="checkbox" [checked]="checkBoxFilter.ctrCheckBox" (change)="splineChart(checkBoxFilter.ctrCheckBox = $event.target.checked)"> CTR </li>
                                    <li>
                                          <input type="checkbox" [checked]="checkBoxFilter.viewabilityCheckBox" (change)="splineChart(checkBoxFilter.viewabilityCheckBox = $event.target.checked)"> VIEWABILITY</li>
                                    <li>
                                          <input type="checkbox" [checked]="checkBoxFilter.timespentCheckBox" (change)="splineChart(checkBoxFilter.timespentCheckBox = $event.target.checked)"> TIME SPENT</li>
                                    <li>
                                          <input type="checkbox" [checked]="checkBoxFilter.impressionsCheckBox" (change)="splineChart(checkBoxFilter.impressionsCheckBox = $event.target.checked)"> IMPRESSIONS PER PAGEVIEW</li>
                                    <li>
                                          <input type="checkbox" [checked]="checkBoxFilter.pageviewsCheckBox" (change)="splineChart(checkBoxFilter.pageviewsCheckBox = $event.target.checked)"> PAGEVIEWS PER SESSION
                                    </li>
                                    <li>
                                          <input type="checkbox" [checked]="checkBoxFilter.bouncerateCheckBox" (change)="splineChart(checkBoxFilter.bouncerateCheckBox = $event.target.checked)"> BOUNCE RATE</li>
                              </ul>
                        </div>

                  </div>
            </div>
            <div class="chart-1">
                  <div [chart]="chart"></div>
            </div>
      </div>
      <div class="stats-wrapper stats-wrapper-3">
            <div class="row">
                  <div class="col-md-12">
                        <h1>click through rate</h1>
                        <div class="box-wrapper">
                              <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">
                                                <p>
                                                      <b>{{stagingAnalytics.overAllViewAbility}}%</b>
                                                </p>
                                          </div>
                                          <div class="p2">
                                                <p>
                                                      <b>Overall Viewability</b>
                                                </p>
                                          </div>
                                    </div>
                              </div>
                              <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">
                                                <p>
                                                      <b>{{stagingAnalytics.faceBookCtr | percent}}</b>
                                                </p>
                                          </div>
                                          <div class="p2">
                                                <img src="/assets/images/facebook.png" />
                                          </div>
                                    </div>
                              </div>
                              <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">
                                                <p>
                                                      <b>8.39%</b>
                                                </p>
                                          </div>
                                          <div class="p2">
                                                <img src="/assets/images/google-ad.png" />
                                          </div>
                                    </div>
                              </div>
                              <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">
                                                <p>
                                                      <b>25.2%</b>
                                                </p>
                                          </div>
                                          <div class="p2">
                                                <img src="/assets/images/twitter.png" />
                                          </div>
                                    </div>
                              </div>
                              <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">
                                                <p>
                                                      <b>0.39%</b>
                                                </p>
                                          </div>
                                          <div class="p2">
                                                <p>
                                                      <b>Others</b>
                                                </p>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>