.box {
  width: 180px;
  height: 180px;
  background: #e8e8e8;
  display: inline-block;
  vertical-align: top;
  margin: 2px 1px;
}
.box-wrapper {
  text-align: left;
  background: #fafafa;
  border: 1px solid #ece9e9;
  padding: 9px;
  max-width: 759px;
}
.box-inner {
  width: inherit;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.box-inner .p1 {
  font-size: 29px;
  font-weight: 300;
  margin-bottom: 10px;
}
.box-inner .p2 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.filter-list-2 li {
  margin-right: 19px;
}

.chart-1-wrapper {
  padding: 20px 25px;
}
.chart-1 {
  /*background-size: cover;*/
  width: 100%;
  min-height: 295px;
}
.stats-wrapper {
  padding: 20px 40px;
}
.box-wrapper {
  text-align: left;
  background: #fafafa;
  border: 1px solid #ece9e9;
  padding: 9px;
  max-width: 759px;
}

.chart-2-wrapper {
  padding: 0px 25px 20px;
  background: #f8f6f6;
  overflow: hidden;
}
.chart-filters h4 {
  font-size: 11px;
  color: #000;
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
  line-height: 15px;
}

.mini-chart-1 {
  float: left;
  vertical-align: top;
  position: relative;
  top: -5px;
  margin-right: 10px;
}

.stats-wrapper-2 {
  background: #f8f6f6;
}
.stats-wrapper-2 .box-wrapper {
  background: none;
  border: none;
}
.stats-wrapper-2 .box {
  width: 180px;
  height: 152px;
  background: #fff;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.chart-box-white {
  width: 100%;
  height: 307px;
  background: #fff;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  position: relative;
  left: -30px;
  text-align: center;
  padding: 20px;
}
.chart-box-white h4 {
  color: #4fa9d3;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.stats-wrapper-3 {
  background: #f8f6f6;
  text-align: center;
}
.stats-wrapper-3 h1 {
  font-weight: 700;
  font-size: 20px;
  color: #2f2e2e;
}
.stats-wrapper-3 .box-wrapper {
  background: none;
  border: none;
  max-width: none;
  text-align: center;
  margin-bottom: 100px;
}
.stats-wrapper-3 .box {
  width: 180px;
  height: 116px;
  background: #fff;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}
