@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600,700");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-transform: uppercase;
}

.chart-2-wrapper {
  padding: 0px 25px 20px;
  background: #f8f6f6;
  overflow: hidden;
}

.dropdown-adjust-1 {
  min-width: 150px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 10px;
}

.dropdown-adjust-1 li {
  margin-bottom: 7px;
}

.dropdown-adjust-1 input {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.chart-filters h4 {
  font-size: 11px;
  color: #000;
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
  line-height: 15px;
}

a.dropdown-adjust-2 {
  color: #8f8b87;
}

.mini-chart-1 {
  float: left;
  vertical-align: top;
  position: relative;
  top: -5px;
  margin-right: 10px;
}

.filter-list-2 li {
  margin-right: 19px;
}

.stats-wrapper-2 {
  background: #f8f6f6;
}

.stats-wrapper-2 .box-wrapper {
  background: none;
  border: none;
}

.stats-wrapper-2 .box {
  width: 180px;
  height: 152px;
  background: #fff;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.chart-box-white {
  width: 100%;
  height: 307px;
  background: #fff;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  position: relative;
  left: -30px;
  text-align: center;
  padding: 20px;
}

.chart-box-white h4 {
  color: #4fa9d3;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.custom-dropdown-1 .dropdown-menu {
  left: auto;
  right: -12px;
  border-radius: 0;
  padding-top: 30px;
  top: -11px;
  z-index: 1;
}

.custom-dropdown-1 .dropdown-menu>li>a {
  font-size: 11px;
}

.open>.dropdown-menu {
  display: block;
}
 