<div class="date-range-bar text-uppercase">
      <div class="row">
            <div class="col-md-8">
                  Date Range From
                  <span class="date-thin">{{dateInputs.start | date}}</span> to
                  <span class="date-thin">{{dateInputs.end | date}}</span>
            </div>
            <div class="col-md-4">
                  <div class="custom-dropdown-1 pull-right">
                        <div class="col">
                              <ul ngbDropdown class="d-inline-block" style="left:-100px;" class="list-inline">
                                    <li class="dropdown" ngbDropdownToggle>
                                          <a href="javascript:void(0)">
                                                <span id="lan-text">Export
                                                      <i class="fa fa-angle-down"></i>
                                                </span>

                                          </a>
                                    </li>
                                    <ul ngbDropdownMenu style="z-index: 44;right:100px;width:100%" class="dropdown-menu user-options-list">
                                          <li class="dropdown-item">

                                                <a href="javascript:void(0)" (click)="download()">
                                                      <span> Raw Data set as XLX, CSV, EXCEL</span>
                                                </a>
                                          </li>

                                    </ul>
                              </ul>
                        </div>

                        <!-- <ul class="list-inline" ngbDropdown #myDrop="ngbDropdown">
                                    <li class="dropdown">
                                          <a href="javascript:void(0)" ngbDropdown >
                                              <span id="lan-text">Export <i class="fa fa-angle-down"></i></span>
                                          </a>
                                          <ul class="dropdown-menu user-options-list">
                                                <li>
                                                      <a class="logout" href="javascript:void(0)">
                                                <span>Raw Data set as XLX, CSV, EXCEL</span>
                                              </a>
                                                </li>
                                                <li>
                                                      <a class="logout" href="javascript:void(0)">
                                                <span>Entire page W Chart as PDF</span>
                                              </a>
                                                </li>
                                          </ul>
                                    </li>
                              </ul> -->



                  </div>

            </div>
      </div>
</div>
<div id="financeData">
      <div class="chart-2-wrapper">
            <div class="chart-filters" style="margin-bottom: 0">
                  <div class="row">
                        <div class="col-md-8">
                              <div class="pull-right">
                                    <h5 style="margin-right: 30px;margin-top:12px;">Filter By</h5>
                                    <ss-multiselect-dropdown [options]="myOptions" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="optionsModel" (ngModelChange)="finance()"></ss-multiselect-dropdown>
                              </div>
                        </div>
                        <div class="col-md-4">
                              <div class="form-group">
                                    <div class="input-group col-sm-offset-4" daterangepicker [options]="{startDate:dateInputs.start, endDate:dateInputs.end }"
                                          (selected)="selectedDate($event, dateInputs)">
                                          <span class="form-control uneditable-input" name="daterange">
                                                {{ dateInputs.start | date:'M/dd/y' }} - {{ dateInputs.end| date:'M/dd/y' }}
                                          </span>
                                          <span class="input-group-btn">
                                                <a type="button" class="btn btn-default">
                                                      <i class="glyphicon glyphicon-calendar"></i>
                                                </a>
                                          </span>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-2">
                              <h4>Primary</h4>
                              <img src="/assets/images/mini-chart.png" class="mini-chart-1">
                              <ul class="list-inline" style="float: left; font-size: 11px;">
                                    <li class="dropdown">
                                          <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-adjust-2">
                                                <span id="lan-text">EARNINGS
                                                      <i class="fa fa-angle-down"></i>
                                                </span>
                                          </a>
                                          <ul class="dropdown-menu dropdown-adjust-1">
                                                <li>Option</li>
                                                <li>Option</li>
                                                <li>Option</li>
                                          </ul>
                                    </li>
                              </ul>
                        </div>
                        <div class="col-md-10">
                              <h4 style="margin-right: 15px;">Secondary</h4>
                              <ul class="filter-list filter-list-2">
                                    <li>
                                          <input type="checkbox" [checked]="checkBoxFilter.ecpmCheckBox" (change)="earningsChart(checkBoxFilter.ecpmCheckBox = $event.target.checked)"> ecpm</li>
                                    <li>
                                          <input type="checkbox" [checked]="checkBoxFilter.requestsCheckBox" (change)="earningsChart(checkBoxFilter.requestsCheckBox = $event.target.checked)"> requests</li>
                                    <li>
                                          <input type="checkbox" [checked]="checkBoxFilter.fillrateCheckBox" (change)="earningsChart(checkBoxFilter.fillrateCheckBox = $event.target.checked)"> fill rate</li>
                                    <li>
                                          <input type="checkbox" [checked]="checkBoxFilter.impressionCheckBox" (change)="earningsChart(checkBoxFilter.impressionCheckBox = $event.target.checked)"> impression</li>
                              </ul>
                        </div>


                  </div>
            </div>
            <div class="chart-1">
                  <div [ngStyle]="{'background-image': 'url(' + bgImage + ')'}" [chart]="combinationChart"></div>
            </div>
      </div>
      <div class="stats-wrapper stats-wrapper-2">
            <div class="row">
                  <div class="col-md-8">
                        <div class="box-wrapper">
                              <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">
                                                <p>
                                                      <b>{{totalEarnings | currency}}</b>
                                                </p>
                                          </div>
                                          <div class="p2">
                                                <p>
                                                      <b>total earnings</b>
                                                </p>
                                          </div>
                                    </div>
                              </div>
                              <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">
                                                <p>
                                                      <b>{{totalEcpm | currency }}</b>
                                                </p>
                                          </div>
                                          <div class="p2">
                                                <p>
                                                      <b>ecpm</b>
                                                </p>
                                          </div>
                                    </div>
                              </div>
                              <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">
                                                <p>
                                                      <b>{{totalRequests | number}}</b>
                                                </p>
                                          </div>
                                          <div class="p2">
                                                <p>
                                                      <b>requests</b>
                                                </p>
                                          </div>
                                    </div>
                              </div>
                              <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">
                                                <p>
                                                      <b>{{totalImpression | number}}</b>
                                                </p>
                                          </div>
                                          <div class="p2">
                                                <p>
                                                      <b>impressions</b>
                                                </p>
                                          </div>
                                    </div>
                              </div>
                              <!-- <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">No Data</div>
                                          <div class="p2">TBC</div>
                                    </div>
                              </div>
                              <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">No Data</div>
                                          <div class="p2">TBC</div>
                                    </div>
                              </div>
                              <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">No Data</div>
                                          <div class="p2">TBC</div>
                                    </div>
                              </div>
                              <div class="box">
                                    <div class="box-inner">
                                          <div class="p1">No Data</div>
                                          <div class="p2">TBC</div>
                                    </div>
                              </div> -->
                        </div>
                  </div>
                  <div class="col-md-4">
                        <div [chart]="dataSource" class="chart-box-white"></div>
                  </div>
            </div>
      </div>
</div>