<div class="container-fluid">
      <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                  <div id="login-page" class="row">
                        <div class="col s12 user_input">
                              <form #registerForm="ngForm">
                                    <!-- Logo In Card -->
                                    <div class="row">
                                          <div class="input-field col s12 center">
                                                <p class="center login-form-text" style="font-size:15px;color:black">Sign In</p>
                                          </div>
                                    </div>

                                    <!-- First Name Field -->
                                    <div class="row margin">
                                          <div class="input-field col s12">
                                          <label for="firstName">First Name</label>
                                                <input type='text' id="firstName" class="form-control" [(ngModel)]="login.firstName" #firstName="ngModel" name="firstName"
                                                      maxlength="255" pattern="[A-Za-z ]{1,63}$"
                                                      required />
                                                <label alt='firstName' placeholder='firstName'></label>
                                                <div [hidden]="firstName.valid || firstName.untouched" class="alert alert-danger">
                                                      First Name is required.
                                                </div>
                                                <div *ngIf="firstName.errors && firstName.errors.pattern" class="alert alert-danger">
                                                      First Name is invalid.
                                                </div>
                                          </div>
                                    </div>
                                    <!-- Last Name Field -->
                                    <div class="row margin">
                                          <div class="input-field col s12">
                                          <label for="lastName">Last Name</label>
                                                <input type='text' id="lastName" class="form-control" [(ngModel)]="login.lastName" #lastName="ngModel" name="lastName"
                                                      maxlength="255" pattern="[A-Za-z ]{1,63}$"
                                                      required />
                                                <label alt='Email' placeholder='Email'></label>
                                                <div [hidden]="lastName.valid || lastName.untouched" class="alert alert-danger">
                                                      Last Name is required.
                                                </div>
                                                <div *ngIf="lastName.errors && lastName.errors.pattern" class="alert alert-danger">
                                                      Last Name is invalid.
                                                </div>
                                          </div>
                                    </div>

                                    <!-- Email Field -->
                                    <div class="row margin">
                                          <div class="input-field col s12">
                                          <label for="email">Email</label>
                                                <input type='text' id="email" class="form-control" [(ngModel)]="login.userName" #email="ngModel" name="email"
                                                      maxlength="255" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                                                      required />
                                                <label alt='Email' placeholder='Email'></label>
                                                <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                                                      Email is required.
                                                </div>
                                                <div *ngIf="email.errors && email.errors.pattern" class="alert alert-danger">
                                                      Email is invalid.
                                                </div>
                                          </div>
                                    </div>

                                    <!-- Password Field -->
                                    <div class="row margin">
                                          <div class="input-field col s12">
                                          <label for="password">Password</label>
                                                <input type="password" id="password" class="form-control password" [(ngModel)]="login.passwordHash" #passWord="ngModel" name="password"
                                                      maxlength="100" required />
                                                <label alt='Password' placeholder='Password'></label>
                                                <div [hidden]="passWord.valid || passWord.untouched" class="alert alert-danger">
                                                      Password is required.
                                                </div>
                                          </div>
                                    </div>

                                    <!-- Login Button -->
                                    <div class="row">
                                          <div class="input-field col s12">
                                                <button class="btn waves-effect waves-light col s12 btn-danger" style=" background: #f78b3b; color: white; border-color: white;"
                                                      (click)="registerUser();"  [disabled]="!registerForm.form.valid">Register</button>
                                                <!-- <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>         -->
                                          </div>
                                    </div>

                                    <!-- Forgot Password -->
                                    <div class="row">
                                          <div class="input-field col s12">
                                                <p class="margin right-align medium-small"><a href='#/forget'>Forgot password?</a></p>
                                          </div>
                                    </div>
                                    <!-- Error Div -->
                                    <div style="position: relative;left: -15px;width: 63%;" *ngIf="error" class="alert alert-danger">{{errMessage}}</div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</div>